Categories: categories
articles heading: Articles all about nesta

%h1 Nesta

The CMS made for programmers. Here is the better description copied from the Nesta homepage:

%quote
  Why use Nesta?
  Do you prefer writing and testing HTML and CSS in a text editor, rather than a browser window? Are you happy writing copy in Markdown or Textile? If so, Nesta might be for you. There's no database to configure – everything is stored in text files. You can review your changes on a local copy of your web site, and copy the files to your server when you're ready to publish (most people use Git).