Categories: categories

%h1 OpenLDAP and Apache

This project is really interesting! I am really enjoying how organized LDAP is and even better how to integrate it into various applications. My experience with LDAP in general is limited to observations on how there are different implementations (e.g. Windows Active Directory vs OpenLDAP vs Sun One) but I am now getting into more detail and exploring the vast possibilities of using LDAP for the greater good! All article on this project deal with how to use ldap in various situations and also ldap itself. Most of the time (if not always) you can assume I will be using OpenLDAP.