Categories: categories

%h1 Redmine

Software rarely gets put into my favorites category, and this is one of them. Redmine allows for collaboration while using my favorite framework, Ruby on Rails. I have written a couple plugins which have provided some help to people. I hope you find articles posted here about Redmine to be useful from my investigations.