Categories: categories

%h1 Ruby on Rails

When I first started playing with Rails around 2003 there was nothing else that could convince me to use anything else. Since then, I have made a couple of applications (one for a friend and a couple for myself).