%div.sidebar-nav
  - display_menu(@menu_items, :class => "nav")
  / %ol
  /   %li
  /     %a(href="#")
  /       yep
  /     %a(href="#")
  /       yep
      
/ #sidebar
/   = haml :categories, :layout => false
/   = haml :feed, :layout => false
