Categories: projects

%h1 ExpressionEngine

While working with a client on ExpressionEngine to implement requested features I found out more information about how to migrate an entire site to a new version (due to a problem in the database), configure pagination, simple shell script to backup sites and databases for archiving, and some good practices for conducting release management between development, staging and production environments.