Categories: projects

%h1 OS X (and my notes with howtos)

Over the years I have begun to have a list of things that need to be done to various versions of os x (tiger, leopard, snow leopard, lion, etc...). Its time to put all of these steps down on to a list so that its easy to reference for future rebuilds of my Apple hardware. Feel free to use my notes and comment with questions or observations.