Categories: projects

%h1 Puppet

A great tool that needs my attention for this is like a System Administrator's great dream to automate the installation of software. I think pairing this with git will really help me out at my day job. I need to write some articles about this software and note down my experiments.