Categories: projects

%h1 Ruby and Ruby on Rails

Ruby is my favorite goto language for now to automate simple tasks ranging from scraping pages and dumping them into a database to doing edits into xml. This project contains all of my ruby snippets and notes on how to make use of this language.