%form(method='get' action='http://www.google.com/search')
  %input(type="text" name="q" size="25")
  %input(type="submit" value="Google Site Search")
  %input(type="checkbox" name="sitesearch" value="aaronaddleman.com" checked hidden)