Date: 04 July 2012
Categories: projects/puppet

%h1 How to use puppet

Best way to start is by downloading the puppet vm and practicing. I have written some modules and I will have to dig them up to share with everyone. But for now, please have some patients.