Date: 20 Aug, 2012
Categories: categories/ee
Summary: While working on a project related to Expression Engine, I created a small shell script to allow backing up of the various environments. This script is bare bones simple and just gets the job done. Nothing fancy here.

%h1 No frills shell script to backup multiple environments with a database dump

= print_code(:filename => 'files/backup_ee.sh', :syntax => 'shell', :theme => 'eiffel', :show_code => true)