Date: 28 Aug, 2012
Categories: categories/ruby
Summary: My script for processing a file (or many files) to be displayed in a Nesta CMS by creating a page for the month of the photos processed. The reason for doing this was to use Image Capture on the Mac to send images into a Nesta CMS. In the end I went with a different solution of using Flickr to save on bandwidth and along with that some extra features.

%h1 Create Nesta pages from images or video with a Ruby script

%h2 Overview

This all started with my curiosity of how to extend the Image Capture program on the Mac. I noticed there was a drop down field of where I wanted to have the images go. Inside that list was a area for workflows that could be made from the Automator program. When I saw all of that, I started down the path of how to process images into a website. I had been using Nesta for some time now and thought I could automate the creating of pages, menus, and content by reading the images or video passed to the script.

%h2 Why?

To practice ruby. I am still learning how to write the language of Ruby and decided to try this idea out.

%h2 The Script

= print_code(:syntax => 'ruby', :filename => 'files/nesta_img_processor.rb', :theme => 'eiffel', :show_code => false)
if you are curious.