%h1 Articles

/ %section.articles= article_summaries(latest_articles)

- posts = latest_articles.paginate(:page => params[:page] ? params[:page] : 1, :per_page => 6)
- posts.each do |post|
  %article
    %div
      %h3
        %a(href="#{url(post.path)}")= post.heading
        = post.summary
        %a(href="#{url(post.path)}")= post.read_more
= will_paginate posts