Date: 21 September, 2012
Categories: categories/bash, categories/sysadmin
Summary: How to setup codehighligher with ultraviolet syntax parsing

%h1 Setting up rack-codehighligher with Nestacms

%h2 Overview

= @page.summary

%h2 Why

Using the NestaCMS is awesome. Its really meant for a person who likes to do programming as the framework/template is very bare bones. I am still getting used to how it works and how to extend its features. One of the things I like about blogging is to display some code or configuration snippets with syntax coloring. I tried out pygments but was quickly removed after trying to parse xml code snippets.

%h2 How

I put together a small shell script that summarized my commands

= print_code(:syntax => 'shell', :filename => 'files/nesta-codehighlighter/rack-codehighlighter.sh', :theme => 'eiffel')

Create a new file called /public/css/eiffel.css with the following content:

= print_code(:syntax => 'css', :filename => 'css/eiffel.css', :theme => 'eiffel')

%h2 Authoring content

After enabling the changes above, you can create code by putting the following text in your pages or articles:

%pre
  :plain
    :::ruby
    def test
      var = 1
    end
    
or you can use ruby to read the file in and parse the file into the content. Here is what I did to display my files into my content:

= print_code(:syntax => 'ruby', :filename => 'files/nesta-codehighlighter/nesta-app.rb', :theme => 'eiffel')