Date: 21 September, 2012
Categories: categories/ruby, categories/wordpress
Summary: Scrapping content in to Wordpress with Ruby by either using ActiveRecord or XMLRPC calls
Flags: draft

%h1 Scraping HTML into Wordpress with Ruby

%h2 Overview

%h2 Scraping data suggestions

Try to stay to the most unique attributes by using the
%pre
  xpath
to look for content items. 

%h2 How to use XMLRPC in general

%h2 Uploading files with XMLRPC

%h2 How to use XMLRPC with multisite enabled

When the multisite is enabled, there is a xmlrpc path for each multisite url. This eliminates the need for using the "blog_id" attribute in your xmlrpc calls.