%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://nestacms.com") Ruby CMS

/ %script(src="/js/foundation/jquery.js")
/ %script(src="/js/foundation/jquery.foundation.mediaQueryToggle.js")
/ %script(src="/js/foundation/jquery.foundation.forms.js")
/ %script(src="/js/foundation/jquery.foundation.reveal.js")
/ %script(src="/js/foundation/jquery.foundation.orbit.js")
/ %script(src="/js/foundation/jquery.foundation.navigation.js")
/ %script(src="/js/foundation/jquery.foundation.buttons.js")
/ %script(src="/js/foundation/jquery.foundation.tabs.js")
/ %script(src="/js/foundation/jquery.foundation.tooltips.js")
/ %script(src="/js/foundation/jquery.foundation.accordion.js")
/ %script(src="/js/foundation/jquery.placeholder.js")
/ %script(src="/js/foundation/jquery.foundation.alerts.js")
/ %script(src="/js/foundation/jquery.foundation.topbar.js")
/ %script(src="/js/foundation/jquery.js")
/ %script(src="/js/foundation/foundation.min.js")
/ %script(src="/js/foundation/app.js")
/ %script(type="text/javascript")
/   $(window).load(function() {$('#slider').orbit();});