Title: Aaron Addleman

%section.intro
  %heading
    %h1 Introduction
  :markdown
    {write something about yourself}
    
    
/ %section.articles= article_summaries(latest_articles)
/ - latest_articles.each do |item|
/   %p
/     = item.title


